################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Backend/.vs
/Backend/FindDox.Abstractions/bin/Debug/net6.0
/Backend/FindDox.Abstractions/obj
/Backend/FindDox.DataAccess.EF/bin/Debug/net6.0
/Backend/FindDox.DataAccess.EF/obj
/Backend/FindDox.Models/bin/Debug/net6.0
/Backend/FindDox.Services/obj
/Backend/FindDox.Services/bin/Debug/net6.0
/Backend/FindDox.Models/obj
/Backend/FindDoxBackend/bin/Debug/net6.0
/Backend/FindDoxBackend/obj
