################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Backend/FindDox.Services/bin/Debug/net6.0
