<mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Docs Finder</span>
</mat-toolbar>

<mat-menu class="menu" #menu="matMenu">
    <button mat-menu-item (click)="openEditingFormDialog()">Создать новый документ</button>
    <button mat-menu-item (click)="openEditingKeywordFormDialog()">Создание ключевого слова</button>
    <button mat-menu-item (click)="openEditingTypeFormDialog()">Создание типа документа</button>
    <button mat-menu-item>

        <input type="file" name="file" [ngStyle]="{'visibility': 'hidden'}" id="inputGroupFile" (change)="handleImport($event)"
        accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">

        <label class="custom-file-label" for="inputGroupFile">Импорт документов (Exel)</label>
    </button>
</mat-menu>
